<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style=background-color:#c6e7e7;"text-align:center">
    <%- include C:\Users\dell\Desktop\edushare\views\partials\header.ejs -%>

    <h1>ABOUT US</h1>
    <h1><p> <%= aboutContent %> </p></h1>
  </body>
</html>
