<!DOCTYPE html>

<%- include C:\Users\dell\Desktop\edushare\views\partials\header.ejs -%>
<html lang="en" dir="ltr">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style=background-color:#fdcbb2;"text-align:center">
    <div class="col-lg-6">
      <img  src="https://upload.wikimedia.org/wikipedia/fi/7/7b/James_Bond.jpg" alt="http://i.ebayimg.com/00/s/NDE0WDUwMA==/z/GHIAAOxyNo9SuLmw/$_3.JPG?set_id=2"><br>
    </div>


<a href="/" class="btn btn-outline-danger btn-lg" role="button" aria-pressed="true">Signout</a>
<a href="#" class=" btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">Still Thinking</a>
    <h1>Personal Information                                    </h1>
    <h5>your First Name : Ankit                                 </h5>
    <h5>your Last Name : Karn                                   </h5>
    <h5>your Email :dankit264@gmail.com                         </h5>
    <h5>your Nickname : Don                                     </h5>
    <h5>Favorite Character : James Bond                         </h5>
    <h5> Favorite TV Shows: Two And A Half Men                  </h5>
    <h5>Best quote : <i>Vodka Martini Shaken Not Stirred</i>    </h5>

<h1>Instered In</h1>

<ul>
  <li>Watching Movies</li>
  <li>Playing games</li>
  <li>Making and sharing memes</li>

</ul>

<h1>Available Contacts</h1>

<a link href="www.facebook.com"><i class="fab fa-facebook-f "></i>facebook</a>
<a link href="www.Gmail.com"><i class="fab fa-google"></i>Gmail</a>
  </body>
</html>
